*{
  margin:0;
  padding: 0;
}
.header{
  min-height: 100vh;
  width: 100%;
  background: #f8f9fa;
  color: #495057;
  position: relative;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  color: #495057
}
.name{
  text-decoration: none;
  color: #495057;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 7%;
}
.nav-links{
  text-align: right;
  background: #ffc8dd;
  padding: 10px 30px
  border-bottom-left-radius: 18px;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 25px;
}
.nav-links ul li a{
  color: #495057;
  text-decoration: none;
  font-size: 18px;
}
.left-sidebar{
  width: 7%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ffc8dd;
}
.row{
  padding: 0 10%;
  display: flex;
  align-items: flex-Englandpoaition: relative;
  margin-top: 5%;
}
.left-column{
  flex-basis: 0%;

}
.left-column{
  flex-basis: 0%
}
.left-column img{
  width: 60%
  cursor: pointer;
  z-index: 1;
  style="float": left;
  margin-right: 50px;"
}
.right-column h1{
  font-size: 55px;
  font-weight: 200;
  position: absolute;
  top: 50px;
  left: 50px;


}
.right-column p{
    color: #495057;
    margin: 20px 0 70px;

}
